.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
header {
  background-color: white;
  height: 202px;
  width: 100%;
}

.nav1 {
  height: 40px;
  width: 100%;
  background-color: #333333;
  position: fixed;
  z-index: 2;
}
nav {
  list-style: none;
}

main {
  background-color: #333333;
  height: 1800px;
}
#subnav {
  height: 162px;
  background-color: #f2f2f2;
  top: 40px;
  position: relative;
  padding: 0 10%;
}

.bebas {
  font-family: "Bebas Neue", cursive;
}
.sans {
  font-family: "Source Sans Pro", sans-serif;
}
.mainpic {
  background-image: url(../assets/tv@2x.png);
  width: 100%;
  height: 600px;
  background-size: 100% 100%;
  z-index: -5;
  padding: 100px auto;
}
.placehold {
  width: 100%;
  height: 600px;
  background-color: rosybrown;
  z-index: -4;
}
.darken {
  width: 100%;
  height: 600px;
  background-color: rgb(26, 26, 26);
  opacity: 0.6;
  z-index: 0;
  position: relative;
  top: -600px;
}
.logotext {
  font-family: "Bebas Neue", cursive;
  font-style: bold;
  font-weight: 200;
  font-size: 48px;
  color: #333333;
  line-height: 43px;
}
.logo {
  width: 140px;
  height: 90px;
  position: relative;
  top: 50%;

  transform: translateY(-40%);
}

.account {
  position: relative;
  float: right;
  right: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 600;
  font-size: 14px;
  margin-right: auto;
}

.country {
  position: relative;
  float: right;
  right: 10%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 600;
  font-size: 14px;
}
.vlag {
  height: 15px;
  width: 23px;
  /* position: sticky; */
  float: right;
  top: 2.3%;
  margin-right: 110%;
  transform: translateX(-50%);
}
.ned {
  position: relative;
  width: fit-content;
  float: right;
  height: 40px;
  right: 10%;
}

.acc {
  position: relative;
  width: 100px;
  float: right;
  height: 40px;
  right: 15%;
}

.profile {
  height: 18px;
  width: 23px;
  /* position: sticky; */
  float: right;
  top: 2%;
  margin-right: 110%;
  transform: translate(-50%, -10%);
}

.homebut {
  float: right;
  padding: 32px 19px;

  background-color: #f2f2f2;
  text-align: center;
  right: 0%;
  bottom: 46px;
  position: relative;
  font-size: 14px;
  font-weight: 700;
}

.archivebut {
  float: right;
  padding: 32px 19px;

  background-color: #f2f2f2;
  text-align: center;
  position: relative;
  right: 0%;
  bottom: 46px;
  font-size: 14px;
  font-weight: 700;
}
.faqbut {
  float: right;
  padding: 32px 19px;

  background-color: #f2f2f2;
  text-align: center;
  position: relative;
  right: 0%;
  bottom: 46px;
  font-size: 14px;
  font-weight: 700;
}

.aboutbut {
  float: right;
  padding: 32px 19px;

  background-color: #f2f2f2;
  text-align: center;
  position: relative;
  right: 0%;
  bottom: 46px;
  font-size: 14px;
  font-weight: 700;
}
.zoek {
  padding: 14px 184px 14px 20px;
  background-color: #e1dfdf;
  right: -5%;
  position: relative;
  bottom: 52px;
  float: right;
  font-weight: bold;
  font-size: 14px;
  color: #818080;
  transform: translate(0%, 50%);
}
.loep {
  position: relative;
  float: right;
  overflow: auto;
  left: 243%;

  transform: scale(2.2) translate(0%, 10%);
  width: 20px;
  height: 10px;
}
.mainarticleplaceholder {
  position: relative;
  float: left;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
#mainarticle {
  z-index: 1;
  font-size: 80px;
  opacity: 1;
  position: relative;
  float: left;
  font-weight: 700;
  letter-spacing: 7px;
}
.yellow {
  color: #ffea00;
  transform: translateX(10%);
}
.white {
  color: white;
}

.maindiscription {
}
.nav a { display: inline-block;
  padding: 32px 19px;
  background-color: #f2f2f2;
}
.nav li {
  
  display: inline;
}
